* {
    /* background-color: rgb(158, 197, 248); */
    text-align: center;
}

#globalDiv {
    margin-top: 150px;
    background-color: blue;
}

#inputsDiv {
    display: flex;
    justify-content: center;
    
}